<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>List of Blocked users and posts</h1>

    <div id="users-table">
        <p>Blocked users:</p>
        <ul class="blocked-users">

        </ul><br>
        <p>Blocked posts:</p>
        <ul class="blocked-posts">

        </ul>
    </div>

    <script type="text/javascript" src="/assets/functions.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script type="text/javascript" src="/assets/dbinit.js"></script>
    <script type="text/javascript" src="/assets/blocked.js"></script>
    
    
    </body>
</html>