<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/assets/popup-styles.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login or sign up!</h1>

    <button id="loginButton" onClick="goToLogin()">Login</button>
    <button id="registerButton" onClick="goToRegister()">Sign up!</button>
    
    <script type="text/javascript" src="/assets/functions.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>

    <script type="text/javascript" src="/assets/dbinit.js"></script>

</body>
</html>

