<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <h1>Login</h1>
    <form id="login-form">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="login-email" placeholder="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="login-password" placeholder="password" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script type="text/javascript" src="/assets/dbinit.js"></script>
    <script type="text/javascript" src="/assets/login.js"></script>

</body>
</html>