<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="post-div"></div>

    <div id="post-table">
        <form id="comment-form">
            <input type="text" id="comment" placeholder="Make new comment" required /><br>
            <button type="submit">Submit</button>
        </form>
        <ul class="posts">

        </ul>
    </div>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script type="text/javascript" src="/assets/dbinit.js"></script>
    <script type="text/javascript" src="/assets/post.js"></script>
    <script type="text/javascript" src="/assets/threads.js"></script>


</body>

</html>