<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form id="signup-form">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="signup-email" placeholder="email" required>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="signup-username" placeholder="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="signup-password" placeholder="password" required>
        </div>
        <button type="submit">Register</button>
    </form>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script type="text/javascript" src="/assets/dbinit.js"></script>
    <script type="text/javascript" src="/assets/auth.js"></script>

</body>
</html>