<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userpage</title>
</head>
<body>
    <h1>Profile page</h1>

    <div class="account-details"></div><br>
    
    <button id="threadsButton" onClick="goToThreads()">Go to threads</button>
    <button id="logoutButton" onClick="logout()">Log out</button><br>
    <button style="display: none" id="applyButton" >Apply for mod</button>
    <button style="display: none" id="reviewButton" >Review mod applications</button>
    <button style="display: none" id="listButton" >See user list</button>
    <button style="display: none" id="blockedButton" >See blocked users and posts</button>

    <div style="display: none" id="applies-table">
        <p>List of moderator applicants:</p>
        <ul class="applies">

        </ul>
    </div>

    <script type="text/javascript" src="/assets/functions.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script type="text/javascript" src="/assets/dbinit.js"></script>
    <script type="text/javascript" src="/assets/userpage.js"></script>
    
    
    </body>
</html>