#post-table {
  position: relative;
  width: 95%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#todo-table form:after {
  margin: 0;
  content: "";
  display: block;
  clear: both;
}

body {
  background: skyblue;
  font-family: verdana;
  color: #fff;
  padding: 30px;
}
h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 30;
}

li {
  margin: 30;
}

p {
  font-size: 10px;
}

div {
  font-size: 16px;
  text-align: center;
}
